@font-face {
    font-family: MyFont;
    src: url(chalk.ttf);
}
body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: rgb(52, 52, 52);
   overflow: hidden;
}
.fig{
    position: relative;
    right: 200px;
    overflow: auto;
    bottom: 50px;
}
/* Adjust the margin as needed */

.fa-solid.fa-gear.fa-2x {
    color: #0056b3;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    box-sizing: content-box;
}
.game-container {
    background-image: url("cardboard.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(142, 140, 140, 0.5);
    text-align: center;
    width: 80%;
    max-width: 800px;
    max-height: 550px;
    /* Adjust the max-width to your preference */
    margin: 0 auto;
}
h2 {
    padding-top: 30px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    font-size: 60px;
    font-family: 'MyFont';
    position: relative;
    color: whitesmoke;
}

.figure-parts {
    stroke: #495057;
    stroke-width: 4px;
}

button {
    font-family: 'MyFont';
margin-top: 5px;
    padding: 10px 20px;
    position: relative;
    bottom: 400px;
    left: 200px;
    font-size: 1.2em;
    color: white;
    border: 10px;
    border-radius: 18px ;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
    transform: scale(0.95);
}

.solo {
    background-color: #007bff;
}

.multi {
    background-color: #dc3545;
}

.settings {
    background-color: #ffc107;
}

/* Additional styling for links */


.about:hover{
    color: rgb(54, 25, 126);
}
.contact:hover{
    color: rgb(54, 25, 126);
}
.policy:hover{
    color: rgb(54, 25, 126);
}